#header{
  h1{
    margin: auto;
    font-size: 50px;
  }
}

// topの画面
#main{
  margin-top: 75px;
  .remaining-time{
    font-family: "Noto Sans JP";
    text-align: center;
    font-size: 60px;
    h1{
      span{
        font-size: 18px;
        margin-right: 20px;
      }
    }
  }
  // 結果
  .correct-answer{
    font-weight: bold;
    color: #005937;
  }
  .not-correct-answer{
    color: #CC0000;
  }
}

// 順位の王冠
.crown{
  margin-right: 5px;
}
.first{
  color: #FFD700;
}
.second{
  color: #C0C0C0;
}
.third{
  color: #7A592F;
}
.none{
  display: none;
}

// submit画面ID
#submit{
  margin: 75px 50px;
}

.sourceCodeForm{
  padding: 8px;
  #source-code-label{
    font-size: 12px;
    margin-bottom: 10px;
  }
}
