#header{
  h1{
    margin: auto;
  }
}

#main{
  margin-top: 50px;
  .remaining-time{
    font-family: "Noto Sans JP";
    text-align: center;
    font-size: 24px;
    //border: 5px solid #375623;
    h1{
      span{
        font-size: 18px;
        margin-right: 20px;
      }
    }
  }
  .correct-answer{
    font-weight: bold;
    color: #005937;
  }
  .not-correct-answer{
    color: #CC0000;
  }
}
.dialog-span{
  font-size: 30px;
  color: red;
}

.crown{
  margin-right: 5px;
}
.first{
  color: #FFD700;
}
.second{
  color: #C0C0C0;
}
.third{
  color: #7A592F;
}
.none{
  display: none;
}
